.header {
  height: 200px;
  background: #900c3f;
  text-align: center;
}
.header h1 {
  margin: 0;
}

.create {
  margin-top: 20px;
}
.create li {
  margin-top: 80px;
  list-style: none;
  display: inline-block;
}

.App {
  border: solid 20px #900c3f;
  box-shadow: 5px #888;
  font-family: Georgia, "Times New Roman", Times, serif;
}

input {
  background: transparent;
}
